@import url("https://use.typekit.net/ine3ows.css");

nav {
	height: 88px;
	padding: 0 40px;
}

nav li {
	padding: 0 13px;
	font-family: Helvetica, sans-serif;
	font-size: 13px;
	font-weight: 300;
	letter-spacing: 1px;
	text-transform: uppercase;
}

nav li a {
	text-decoration: none;
	color: #ffffff;
	transition: background-color 0.4s ease-in-out,color 0.4s ease-in-out,border-color 0.4s ease-in-out;
}

nav li a:hover {
	color:white;
	border-bottom: 2px solid #ce6451;
}

nav img {
	max-height: 88px;
	width: auto;
}

h1 {
	font-size: 60px;
	color: #f4eae9;
	font-family: big-caslon-fb, serif;
	margin-bottom: 14px;
	font-weight: 400;
	letter-spacing: 1px;
	width: 100%;
}

#message {
	padding: 150px 0;
	font-family: big-caslon-fb, serif;
	line-height: 68px;
	font-weight: 400;
	letter-spacing: 1px;
	font-size: 40px
}

hr {
  border: 0;
  border-top: 5px solid white;
}

#img-section {
	height: 100vh;
	background-image: url(./images/Careers-header.jpg);
	background-attachment: scroll;
	color:white;
	width:100%;
	margin-bottom: 0;
}

#img-section .jumbotron {
	background-color:transparent;
	height:100%;
	display:flex-column;
	padding: 400px 0px;
	display:flex;
	align-items: center;
	flex-direction: column;
}

#gradient {
	background-image: url(./images/Tiny-Horse-Agency-Gradient.jpg);
	height:50px;
	margin-top: 0;
}

.culture {
	background-color: #f4eae9;
	border-top: 10px solid #e35443;
	min-height: 500px;
}

.culture-img {
	height: 650px;

}

footer {
    background-color: #212326;
    padding: 100px;
}
.footer {
    display: flex;
    justify-content: space-between;
    color: #fff;
    font-family: Helvetica, sans-serif;
}
.bottom-footer {
    display: flex;
    justify-content: left;
    font-size: 8pt;
    padding-top: 20px;
}
.bottom-footer p{
    color: #5C7C91;
}
.bottom-footer a {
    color: #5C7C91;
}